.Tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  align-items: center;
  margin-left: 250px;
  margin-top: 50px;
}
.tabsList {
  display: flex;
  align-items: center;
  margin-left: -80px;
  margin-top: -70px;
}
.tabHead {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  border-bottom-right-radius: 20px;
  border-left: 1px dotted yellow;
  border-right: 1px dotted yellow;
  border-bottom: 1px dotted yellow;
  box-shadow: 20px white;
  box-shadow: yellow;
}

.active {
  background-color: rgb(194, 176, 176);
  color: black;
}

.tabsContent img {
  height: 500px;
}
