@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

h1 {
  color: aqua;
  font-size: 5rem;
  margin: 0 0 2em;
  font-family: "stylish", sans-serif;

  text-shadow: 2px 2px 10px rgb(8, 8, 121);
}

.containerr {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  background-color: black;
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px white;
  border-radius: 5px;
}
