.Tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  align-items: center;
  margin-left: 250px;
  margin-top: -70px;
}
.tabsList {
  display: flex;
  align-items: center;
  margin-left: -80px;
}
.tabHead {
  padding: 15px;
  margin: 15px;

  box-shadow: 20px white;
  box-shadow: yellow;
}

.active {
  background-color: rgb(194, 176, 176);
  color: black;
}

.tabsContent img {
  height: 500px;
}

.tabHead {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(90, 90, 91) 1%, rgb(92, 84, 84) 24%);
}
